@font-face {
    font-family: 'avantgardegothicc';
    src: url('../fonts/avantgardegothicc-webfont.eot');
    src: url('../fonts/avantgardegothicc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avantgardegothicc-webfont.woff2') format('woff2'),
         url('../fonts/avantgardegothicc-webfont.woff') format('woff'),
         url('../fonts/avantgardegothicc-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avantgardegothicc';
    src: url('../fonts/avantgardegothicc-bold-webfont.eot');
    src: url('../fonts/avantgardegothicc-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avantgardegothicc-bold-webfont.woff2') format('woff2'),
         url('../fonts/avantgardegothicc-bold-webfont.woff') format('woff'),
         url('../fonts/avantgardegothicc-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}