// bower:scss
@import "../../bower_components/normalize-scss/_normalize.scss";
// endbower

@import "fonts";

html {
	font-family: 'avantgardegothicc';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.users-list {
	position: relative;
	padding: 0 8%;
	list-style: none;
	margin: 0;

	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		right: 8%;
		top: 0;
		bottom: 0;
		width: 10vw;
		background: url(../images/finish.svg) center center / 100% auto no-repeat;
	}

	.list__item {
		position: relative;
		border-top: 2px solid #9ed9e7;

		&:last-child {
			border-bottom: 2px solid #9ed9e7;
		}

		&:nth-child(1):nth-last-child(1) {
			height: 18vh;
		}

		&:nth-child(1):nth-last-child(2),
		&:nth-child(2):nth-last-child(1) {
			height: 18vh;
		}

		&:nth-child(1):nth-last-child(3),
		&:nth-child(2):nth-last-child(2),
		&:nth-child(3):nth-last-child(1) {
			height: 12vh;
		}

		&:nth-child(1):nth-last-child(4),
		&:nth-child(2):nth-last-child(3),
		&:nth-child(3):nth-last-child(2),
		&:nth-child(4):nth-last-child(1) {
			height: 9vh;
		}

		&:nth-child(1):nth-last-child(5),
		&:nth-child(2):nth-last-child(4),
		&:nth-child(3):nth-last-child(3),
		&:nth-child(4):nth-last-child(2),
		&:nth-child(5):nth-last-child(1) {
			height: 7.2vh;
		}
	}
}

.user-bar {
	position: relative;
	height: 100%;
	box-sizing: border-box;
	margin-right: 10vw;

	.bar__user {
		position: absolute;
		z-index: 2;
		left: 0;
		bottom: 3vh;
		height: 15vh;
		width: 15vh;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		transition: all .2s linear;

		.user__id {
			position: absolute;
			top: -2.5vw;
			left: -.5vw;
			width: 3vw;
			height: 2.2vw;
			line-height: 2.2vw;
			text-align: center;
			font-weight: 700;
			color: #b44e45;
			background: url(../images/cloud.svg) 0 0 / 100% auto no-repeat;
		}
	}
}

.computer-logo {
	position: absolute;
	width: 8%;
	top: 7%;
	left: 4%;
	z-index: 2;

	img {
		width: 100%;
	}
}

.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #009BC3;

	&.controller {
		overflow: auto;

		.screen {
			overflow: auto;
		}
	}

	.screen {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		display: none;
	}

	.game-state {
		display: none;
	}

	.game-countdown {
		display: none;
	}

	[data-screen="finish"] .phone-status {
		display: none;
	}

	.phone-status {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		text-align: center;

		&:after {
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 0;
			height: 100%;
		}

		&.min {
			span {
				font-size: 25px;
			}
		}

		span {
			display: inline-block;
			vertical-align: middle;
			width: 90%;
			color: #fff;
			font-size: 30px;
		}
	}

	.start-desc {
		position: absolute;
		z-index: 2;
		left: 27.5%;
		top: 20%;
		width: 45%;
		padding: 4% 4% 5%;
		box-sizing: border-box;
		color: #fff;
		font-size: 1.35vw;
		text-align: center;
		border: 2px solid #fff;
	}

	.start-animal {
		position: absolute;
		width: 40%;
		bottom: -8%;
		right: 13%;
		max-height: 50%;

		img {
			width: 100%;
		}
	}

	.game-state {
		text-align: center;
		color: #fff;
		line-height: 1.6;
		padding: 8% 16% 0;
		height: 10vw;

		&.game-countdown {
			font-size: 2vw;
		}

		.state__top {
			font-size: 2vw;
		}

		.state__sub {
			font-size: 1.2vw;
		}
	}

	.winner-block {
		text-align: center;
		padding: 8% 16% 0;
		color: #fff;

		.block__top {
			font-size: 2vw;
		}

		.block__number {
			margin-top: 1vw;
			font-size: 2.5vw;
			font-weight: 700;

			span {
				display: inline-block;
				vertical-align: middle;
				height: 3.5vw;
				width: 3.5vw;
				line-height: 3.5vw;
				border: 2px solid #fff;
				border-radius: 3.5vw;
			}
		}

		.block__image {
			margin-top: 5vw;

			.image__cont {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				width: 20vw;

				.image__top {
					max-height: 40vh;
					width: 100%;
				}

				.image__shadow {
					width: 100%;
					margin-top: 2vw;
				}
			}
		}
	}

	.mobile-start {
		text-align: center;
		color: #fff;

		.start__title {
			font-size: 24px;
			padding: 40px 10px 0;
		}

		.start__choises {
			padding-top: 45px;

			.choises__item {
				margin: 15px 0;

				.item__btn {
					display: inline-block;
					vertical-align: top;
					width: 110px;
					height: 110px;
					border: 2px solid #fff;
					background-size: 80% auto;
					background-position: center center;
					background-repeat: no-repeat;

					&.btn-male {
						background-image: url(../images/mobile-male.png);
					}

					&.btn-female {
						background-image: url(../images/mobile-female.png);
					}
				}
			}
		}
	}

	.mobile-info {
		.info__image {
			position: relative;
			display: inline-block;
			vertical-align: top;
			margin-top: 50px;
			max-width: 50%;

			.image__id {
				position: absolute;
				top: 0;
				left: 5px;
				width: 50px;
				height: 35px;
				line-height: 35px;
				color: #b44e45;
				font-weight: 700;
				font-size: 20px;
				background: url(../images/cloud.svg) 0 0 / 100% auto no-repeat;
			}

			.image__main {
				width: 100%;
				max-height: 30%;
				margin: 60px 0 30px;
			}

			.image__shadow {
				width: 80%;
			}
		}
	}

	.block-promo {
		display: block;

		.promo__title {
			font-size: 3vw;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 1.2;
		}

		.promo__desc {
			margin-top: 2vw;
			font-size: 1.2vw;
		}

		.promo__image {
			position: relative;
			margin-top: 5vw;

			.image__circle {
				position: absolute;
				display: inline-block;
				text-transform: uppercase;

				&:before {
					content: "";
					position: absolute;
					top: 5px;
					bottom: 5px;
					left: 5px;
					right: 5px;
					border-radius: 20vw;
				}

				&.circle-top {
					width: 20vw;
					height: 20vw;
					border-radius: 20vw;
					background: #e82d8a;
					z-index: 3;
					left: 50%;
					top: 0;
					margin-left: -18vw;

					&:before {
						border: 5px solid #fff;
					}
				}

				&.circle-bottom {
					z-index: 2;
					width: 17vw;
					height: 17vw;
					left: 50%;
					top: 5vw;
					border-radius: 17vw;
					background: #fff;
					color: #059fc2;

					&:before {
						border: 5px solid #059fc2;
					}

					.circle__text {
						margin-top: 3vw;
					}
				}

				.circle__text {
					margin-top: 4.5vw;
					font-size: 1.3vw;
					line-height: 1.2;
				}

				.circle__bonus {
					margin-top: 1.5vw;
					font-weight: 700;

					.bonus__text {
						font-size: 1.5vw;
						line-height: 1;
					}

					.bonus__price {
						font-size: 3.5vw;
						line-height: 1;
					}
				}
			}
		}
	}

	.block-promo-mobile {
		color: #fff;
		text-align: center;
		padding: 0 20px;

		.promo__title {
			font-size: 25px;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 1.2;
			padding-top: 50px;
		}

		.promo__desc {
			margin-top: 25px;
			font-size: 14px;
		}

		.promo__image {
			position: relative;
			margin-top: 25px;

			.image__circle {
				position: absolute;
				display: inline-block;
				text-transform: uppercase;

				&:before {
					content: "";
					position: absolute;
					top: 2px;
					bottom: 2px;
					left: 2px;
					right: 2px;
					border-radius: 120px;
				}

				&.circle-top {
					width: 120px;
					height: 120px;
					border-radius: 120px;
					background: #e82d8a;
					z-index: 3;
					left: 50%;
					top: 0;
					margin-left: -100px;

					&:before {
						border: 3px solid #fff;
					}
				}

				&.circle-bottom {
					z-index: 2;
					width: 90px;
					height: 90px;
					left: 53%;
					top: 40px;
					border-radius: 120px;
					background: #fff;
					color: #059fc2;

					&:before {
						border: 3px solid #059fc2;
					}

					.circle__text {
						margin-top: 20px;
					}

					.circle__bonus {
						margin-top: 5px;
						font-weight: 700;

						.bonus__text {
							font-size: 8px;
							line-height: 1;
						}

						.bonus__price {
							font-size: 20px;
							line-height: 1;
						}
					}
				}

				.circle__text {
					margin-top: 30px;
					font-size: 8px;
					line-height: 1.2;
				}

				.circle__bonus {
					margin-top: 10px;
					font-weight: 700;

					.bonus__text {
						font-size: 10px;
						line-height: 1;
					}

					.bonus__price {
						font-size: 25px;
						line-height: 1;
					}
				}
			}
		}
	}
}