extends templates/layout

block content
	.computer-logo
		img(src="images/logo.png")
	.wrapper.computer
		.screen(data-screen="start")
			.start-desc Чтобы принять участие подключайся к WI-FI сети <b>MODIS GAME</b> и вводи в браузере <b>modis.game</b> или <b><span class="js-ip-string"></span></b>
			.start-animal
				img(src="images/start-animal.png")
		.screen(data-screen="game")
			.game-state-cont
				.game-state.js-game-step(data-step="ready")
					.state__top Ожидаем участников
					.state__sub Подключайся к WI-FI сети <b>MODIS GAME</b> и заходи на <b>modis.game</b> или <b><span class="js-ip-string"></span></b>
				.game-state.js-game-step(data-step="getReady")
					.state__top Приготовьтесь
				.game-state.js-game-step(data-step="game")
					.state__top Трясите вашим телефоном сильнее
			//- .game-state.game-countdown.js-countdown
			ul.users-list#clients
		.screen(data-screen="finish")
			.winner-block
				.block__top Победил игрок
				.block__number
					span.js-winner-id
				.block__image
					.image__cont
						img.image__top.js-winner-image
						img.image__shadow(src="images/shadow.svg")
		.screen(data-screen="promo")
			.block-promo.game-state
				.promo__title Ты можешь<br>позволить себе больше
				.promo__desc Установи приложение <b>MODIS Бонус</b> в дни фестиваля <b>18 и 19 июля</b><br>и получи дополнительные <b>500 баллов</b> на карту!
				.promo__image
					.image__circle.circle-top
						.circle__text регистрируйся в<br>#<b>modis</b>бонус
						.circle__bonus
							.bonus__text Получай
							.bonus__price 500
							.bonus__text Баллов
					.image__circle.circle-bottom
						.circle__text при первой<br>покупке
						.circle__bonus
							.bonus__text Получай
							.bonus__price 500
							.bonus__text Рублей

block scripts
	script.
		var device_type = 'desktop';